.profile-container {
    padding: 2rem;

    .admin-badge {
        color: white;
        background-color: crimson;
        padding: 0.2rem 0.5rem;
        margin-left: 1rem;
        font-weight: bold;
        border-radius: 4px;
        font-size: 0.85rem;
    }
}