<div class="orderinfo">
    <h2>Rendelés összesítő</h2>

    <ul class="cart-summary">
        @for (item of cartItems; track item.product.id) {
        <li>
            🛒 {{ item.product.name }} – {{ item.quantity }} db
            <button mat-button color="warn" (click)="removeItem(item.product.id)">Eltávolítás</button>
        </li>
        }
    </ul>

    <p><strong>Összesen:</strong> {{ getTotalQuantity() }} db – {{ getTotalPrice() | hufCurrency }}</p>
</div>

<div id="contact-container">
    <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="contact-form">
        <h1>Megrendelés</h1>

        <mat-form-field appearance="outline">
            <mat-label>Cím</mat-label>
            <input matInput formControlName="address" required />
            <mat-icon matSuffix>house</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Telefonszám</mat-label>
            <input matInput formControlName="phone" required />
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Megjegyzés</mat-label>
            <textarea matInput formControlName="comment"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">
            Rendelés leadása
        </button>
    </form>
</div>