<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/home">Főoldal</a></li>

    @if (!isLoggedIn) {
    <li><a routerLink="/login">Bejelentkezés</a></li>
    <li><a routerLink="/register">Regisztráció</a></li>
    } @else {
    <li><a routerLink="/product-list">Termékek</a></li>
    <li><a routerLink="/contact">Kapcsolatfelvétel</a></li>
    <li><a routerLink="/profile">Profilom</a></li>
    <li>
      <button (click)="logout()" class="logout-button">Kijelentkezés</button>
    </li>
    }
  </ul>
</nav>